<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Student Course Registration System</title>
    </head>
    <body>
        <h1>Student Course Registration System</h1>

        <hr />

        <a href="/">Home</a> | <a href="/login">Login</a>

        <hr />

        <h2>Home</h2>

        <ul>
            <li><a href="/students">Manage Students</a></li>
            <li><a href="/courses">Manage Courses</a></li>
            <li><a href="/register">Register Student to Course</a></li>
            <li><a href="/student-courses">View Student Courses</a></li>
        </ul>
    </body>
</html>
