<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
    </head>
    <body>
        <h1>Student Course Registration System</h1>

        <hr />

        <a href="/">Home</a> | <a href="/login">Login</a>

        <hr />

        <h2>Login</h2>

        <p th:if="${error}" th:text="${error}"></p>

        <form th:action="@{/login}" method="post">
            <label>Username</label><br />
            <input type="text" name="username" required />

            <br /><br />

            <label>Password</label><br />
            <input type="password" name="password" required />

            <br /><br />

            <button type="submit">Login</button>
        </form>

        <br />

        <p>Username: admin</p>
        <p>Password: admin123</p>
    </body>
</html>
